# CMake build directories
/build/
/engine/build/
/game/build/
/launcher/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile

# Built binaries
*.dll
*.exe
*.lib
*.pdb
*.ilk
*.exp

# VSCode settings
.vscode/
